<div class="px-9 py-6">
  <gn-ui-online-service-resource-input
    style="--gn-ui-text-input-padding: 0.8rem"
    [protocolOptions]="['ogcFeatures', 'wfs']"
    [service]="$any(currentService())"
    (serviceChange)="handleServiceChange($event)"
  />
</div>
@if (selectedLayer()) {
<div
  class="px-9 py-6 bg-beige border-gray-600 border-t rounded-b-lg flex items-center"
>
  <div class="gn-ui-card bg-white flex-1">
    <div
      class="bg-beige w-[56px] h-[56px] rounded-[4px] text-secondary-darker grid justify-center items-center shrink-0"
    >
      <ng-icon name="iconoirAxes"></ng-icon>
    </div>
    <div class="flex flex-col justify-center">
      <div class="text-lg font-bold">
        {{ selectedLayer()!.layerTitle || selectedLayer()!.layerName }}
      </div>
      <div class="text-xs text-gray-500">
        {{ protocolLabel() }} • {{ selectedLayer()!.layerName }}
      </div>
    </div>
  </div>
  <gn-ui-button
    type="light"
    style="
      --gn-ui-button-padding: 0px;
      --gn-ui-button-width: 24px;
      --gn-ui-button-height: 24px;
    "
    class="ml-[20px] shrink-0"
    (buttonClick)="removeService()"
    data-test="remove-item"
    ><span class="material-symbols-outlined gn-ui-icon-medium">close</span>
  </gn-ui-button>
</div>
}
