<div
  class="bg-white flex flex-col gap-2.5 rounded-lg px-6 pt-6 pb-16 shadow-md"
>
  <h1 class="text-xl font-bold text-gray-900 mb-4">
    {{ 'recurrence.title' | translate }}
    <span class="text-black font-extrabold">{{
      store.integrityLink()?.integrity_title
    }}</span>
  </h1>

  <div class="shrink-0 w-[400px]">
    <app-recurrence-selector
      [presets]="recurrencePresets()"
      [selectedPresetId]="selectedPresetId()"
      (presetChange)="onPresetChange($any($event))"
    />
  </div>
</div>
