<div class="relative">
  <ng-icon
    name="iconoirSearch"
    class="absolute left-3 top-1/2 -translate-y-1/2 text-primary"
    size="1.25em"
  ></ng-icon>
  <input
    type="text"
    class="rounded-md border border-gray-300 py-2 pl-10 pr-10 text-sm focus:border-gray-600 focus:outline-none hover:bg-beige"
    [class.w-full]="fullWidth()"
    [placeholder]="placeholder()"
    [value]="value()"
    (input)="value.set($any($event.target).value)"
  />
  @if (value()) {
  <button
    type="button"
    class="absolute right-2 top-[1.35em] -translate-y-1/2 text-gray-400 hover:text-gray-600"
    (click)="value.set('')"
  >
    <ng-icon class="text-primary" name="iconoirXmark" size="1.25em"></ng-icon>
  </button>
  }
</div>
