::ng-deep .data-import-wizard .mat-mdc-tab-labels .mat-mdc-tab,
::ng-deep .data-import-wizard .mat-mdc-tab-labels .mat-mdc-tab * {
  pointer-events: none;
}

::ng-deep .flex .preview-toggle-group {
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  overflow: hidden;

  .mat-button-toggle {
    background-color: white;
    color: var(--color-gray-900);

    & > button:disabled {
      color: var(--color-gray-400);
    }
  }

  .mat-button-toggle-checked {
    background-color: var(--color-primary);
    color: white;

    &:hover {
      background-color: var(--color-primary-darker);
    }
  }

  .mat-button-toggle:not(.mat-button-toggle-checked):hover {
    background-color: var(--color-gray-100);
  }

  .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
  }
}
::ng-deep .gn-ui-card {
  overflow: hidden;
  .flex-col {
    min-width: 0;
    word-break: break-all;
  }
}
