<div class="px-6 py-9 border-gray-600 border-b">
  <h2 class="mb-4 text-lg font-medium text-gray-900">
    {{ 'import.dataSource.chooseType' | translate }}
  </h2>

  <form [formGroup]="form">
    <mat-radio-group
      formControlName="radio"
      (change)="handleRadioChange($event.value)"
    >
      <mat-radio-button value="file">
        {{ 'import.dataSource.chooseType.file' | translate }}
      </mat-radio-button>
      <mat-radio-button value="ftp" class="ml-6">
        {{ 'import.dataSource.chooseType.ftp' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</div>

@if (form.controls.radio.value === 'file') {
<div class="px-9 py-6">
  <gn-ui-file-input
    [maxSizeMB]="0"
    (fileChange)="handleFileChange($event)"
    (urlChange)="handleUrlChange($event)"
  ></gn-ui-file-input>
  <div class="mt-4">
    <gn-ui-check-toggle
      [value]="form.get('source.authEnabled')!.value"
      (toggled)="form.get('source.authEnabled')!.setValue($event)"
      [label]="'import.dataSource.url.enableAuth' | translate"
      [title]="'import.dataSource.url.enableAuth' | translate"
      class="mb-3"
    >
    </gn-ui-check-toggle>

    @if (form.get('source.authEnabled')!.value) {
    <div class="flex flex-wrap gap-4 mt-3">
      <div class="flex-1 min-w-[300px] max-w-[300px]">
        <label class="block text-sm font-medium text-gray-700 mb-2">
          {{ 'import.dataSource.url.username' | translate }}
        </label>
        <gn-ui-text-input
          [value]="form.get('source.username')!.value"
          (valueChange)="form.get('source.username')!.setValue($event)"
          placeholder=""
        ></gn-ui-text-input>
      </div>

      <div class="flex-1 min-w-[300px] max-w-[300px]">
        <label class="block text-sm font-medium text-gray-700 mb-2">
          {{ 'import.dataSource.url.password' | translate }}
        </label>
        <gn-ui-text-input
          [value]="form.get('source.password')!.value"
          (valueChange)="form.get('source.password')!.setValue($event)"
          placeholder=""
        ></gn-ui-text-input>
      </div>
    </div>
    }
  </div>
</div>
} @if (form.controls.radio.value === 'ftp') {
<app-data-source-ftp (ftpDataChanged)="handleFtpDataChange($event)" />
} @if (form.controls.source.controls.file.value ||
form.controls.source.controls.url.value) {
<div
  class="px-9 py-6 bg-beige border-gray-600 border-t rounded-b-lg flex items-center"
>
  <div class="gn-ui-card bg-white">
    <div
      class="bg-beige w-[56px] h-[56px] rounded-[4px] text-primary grid justify-center items-center shrink-0"
    >
      <ng-icon name="iconoirAttachment"></ng-icon>
    </div>
    <div class="flex flex-col justify-center text-lg font-bold">
      {{
        form.controls.source.controls.file.value?.name ||
          form.controls.source.controls.url.value
      }}
    </div>
  </div>
  <gn-ui-button
    type="light"
    style="
      --gn-ui-button-padding: 0px;
      --gn-ui-button-width: 24px;
      --gn-ui-button-height: 24px;
    "
    class="ml-[20px]"
    (buttonClick)="removeItem()"
    data-test="remove-item"
    ><span class="material-symbols-outlined gn-ui-icon-medium">close</span>
  </gn-ui-button>
</div>
}
