<div class="event flex flex-col gap-2 w-full px-4 pt-4 mb-4 rounded-sm">
  <div class="event-title">
    <h3 class="font-semibold" [attr.data-event-id]="event.id">
      {{ reference }}
    </h3>
  </div>
  <div class="event-body flex flex-col md:flex-row gap-2 md:gap-6 md:items-end">
    <app-event-type-badge class="mb-4" [type]="event.type" />
    <div class="flex gap-2 grow justify-between md:justify-normal">
      <div class="event__start-date flex flex-col bg-gray-200 p-2 rounded-t-sm">
        <span class="font-semibold text-gray-600">Début</span>
        <small>{{ event.start_date | date : 'short' }}</small>
      </div>
      <div class="event__end-date flex flex-col bg-gray-200 p-2 rounded-t-sm">
        <span class="font-semibold text-gray-600">Fin</span>
        <small>
          @if (event.end_date) {
          {{ event.end_date | date : 'short' }}
          } @else {
          <span class="mx-[20px]">-</span>
          }
        </small>
      </div>
      <div class="event__duration flex flex-col bg-gray-200 p-2 rounded-t-sm">
        <span class="font-semibold text-gray-600">Durée</span>
        <small>{{ formatDuration(event.duration) }}</small>
      </div>
    </div>
    <div class="flex gap-4 items-center mb-4">
      @if (event.status === 'error') {
      <button
        class="hover:cursor-pointer hover:bg-gray-200 px-5 py-1 border border-gray-400 text-gray-600 flex items-center gap-2"
        (click)="downloadLogs()"
      >
        Télécharger les logs
        <mat-icon class="!text-base">download</mat-icon>
      </button>
      }
      <app-status-badge [status]="event.status" />
    </div>
  </div>
</div>
