<div
  class="event"
  class="event bg-gray-100 flex flex-col gap-2 w-full px-4 pt-4 mb-4 border border-gray-300 rounded-sm"
>
  <div class="event-title">
    <h3 class="font-semibold">{{ reference }}</h3>
  </div>
  <div class="event-body flex gap-6 items-end">
    <app-event-type-badge class="mb-4" [type]="event.type" />
    <div class="grow flex gap-2">
      <div class="flex flex-col bg-gray-200 p-2 rounded-sm">
        <span class="font-semibold text-gray-600">Début</span>
        <small>{{ event.timestamp | date : 'short' }}</small>
      </div>
      <div class="flex flex-col bg-gray-200 p-2 rounded-sm">
        <span class="font-semibold text-gray-600">Fin</span>
        <small>{{ event.timestamp | date : 'short' }}</small>
      </div>
      <div class="flex flex-col bg-gray-200 p-2 rounded-sm">
        <span class="font-semibold text-gray-600">Durée</span>
        <small>{{ event.timestamp | date : 'short' }}</small>
      </div>
    </div>
    <div class="flex gap-4 items-center mb-4">
      <button
        class="hover:cursor-pointer hover:bg-gray-200 px-5 py-1 border border-gray-400 text-gray-600 flex items-center gap-2"
      >
        Télécharger les logs
        <mat-icon class="!text-base">download</mat-icon>
      </button>
      <app-status-badge [status]="event.status" />
    </div>
  </div>
</div>
