FTP_HOST=ftp.example.fr
FTP_USER=myuser
FTP_PASSWORD=mypassword
FTP_PATH=/path/to/dataset.gpkg

BASIC_AUTH_URL=https://example.org/dataset.geojson
BASIC_AUTH_USER=myuser
BASIC_AUTH_PASSWORD=mypassword
