/* All styles moved to template using Tailwind utility classes */
.run-manual {
  background-color: #a1dbde;
}

.run-planned {
  background-color: #bdc9ed;
}

.run-manual,
.run-planned {
  border: 1px solid #3753a4;
}
