<div
  data-type-submenu
  class="border-t border-gray-200 bg-gray-50 flex flex-col"
>
  @for (type of castTypes(); track type) {
  <button
  type="button"
  [attr.data-type]="type"
  [attr.aria-selected]="effectiveType() === type ? 'true' : 'false'"
  class="flex items-center gap-2 px-4 py-2 text-sm text-left hover:bg-gray-100 w-full"
  [class.font-semibold]="effectiveType() === type"
  [class.text-[#E30513]]="effectiveType() === type"
  (click)="onTypeClick(type, $event)"
>
  @if (effectiveType() === type) {
  <span
    class="w-2 h-2 rounded-full bg-[#E30513] shrink-0 inline-block"
  ></span>
  } @else {
  <span class="w-2 h-2 shrink-0 inline-block"></span>
  }
  {{ 'import.columnAction.typeMenu.' + type | translate }}
  </button>
  }
</div>
